.form-container {
    background-color: rgb(39, 41, 43);
    height: 90vh;
    padding-top: 100px;
    padding-left: 50px;
  }
  
  input[type="text"] {
    background-color: rgb(39, 41, 43);
    border: 0;
    border-bottom: solid 2px rgb(0, 194, 201);
    width: 30%;
    padding-bottom: 4px;
    color: rgb(255, 255, 255) !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
  }
  
  input[type="text"] { 
      outline: none;
  }
  
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px rgb(39, 41, 43) inset;
      -webkit-text-fill-color: rgb(255, 255, 255) !important;
  }