@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, rgb(62, 97, 85), rgb(31, 58, 58));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.current-location-container {
  height: 90vh;
  background: rgb(224, 195, 195);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.current-location-title {
    position: relative;
    margin-bottom: 350px;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.3;
    font-family: 'Roboto Slab', serif;
  }

.current-location-info {
    position: absolute;
    margin-top: 10px;
  }

.form-container {
  background-color: rgb(39, 41, 43);
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
}

input[type="text"] {
  background-color: rgb(39, 41, 43);
  border: 0;
  border-bottom: solid 2px rgb(0, 194, 201);
  width: 30%;
  padding-bottom: 4px;
  color: rgb(255, 255, 255) !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(39, 41, 43) inset;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(0, 194, 201);
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: rgb(0, 194, 201);
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

.favorite__info {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}