@import url('https://fonts.googleapis.com/css?family=Anton:100,200,300,300i,400,400i,700');

body {
  font-family: 'Anton';
  background: black;
  color: #979797;
  height: 100vh;
}

.buttonWrapper {
  text-align: right;
  position: absolute;
  top: 8px;
  right: 8px;
}

.material-icons {
  font-size: 48px;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
  width: 100%;
}