.current-location {
    height: 90vh;
    background: rgb(224, 195, 195);
    text-align: center;
    color: #000;
  }
  
  .current-location__title {
      font-size: 50px;
      letter-spacing: 2px;
      line-height: 1.3;
      font-family: 'Roboto Slab', serif;
      margin-top: 120px;
    }
  
    .current-location__info {
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 2px;
      margin-top: 70px;
      margin-left: 70px;
      margin-right: 70px;
    }